@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body,
html {
    position: relative;
    max-width: 1400px;
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: #060616;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.calculator {
    width: 30rem;
    overflow: auto;
    margin-top: 6rem;
    background-color: #ffffff;
    padding-top: 3rem;
    text-align: center;
    margin: auto;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0em 1em 2em rgba(113, 115, 119, 0.5);
}

#inputBox {
    margin-top: 2rem;
}

.calculator input {
    width: 90%;
    font-size: 2rem;
    margin-bottom: 3rem;
    border: none;
    text-align: right;
    padding: .7rem;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    cursor: pointer;
    color: #383535;
}

input::placeholder {
    color: #0e0505;
}

button {
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #000000;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(49, 28, 28, 0.1);
    cursor: pointer;
}

.equalBtn {
    background-color: #4102a7;
}

.operator {
    color: #3ec429;
}

/* MediaQuery CSS  */
@media screen and (max-width: 768px) {
    .calculator {
        width: 100vw;
        height: 100vh;
    }

    button {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }

    .container {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .calculator {
        width: 20rem;
    }

    button {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

}